body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #4538a1;
    color: rgb(235, 233, 233);
    text-align: center;
    padding: 1em;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #6250e6;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    min-width: 800px;
    min-height: 800px;
    margin: 2em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
}

h3 {
    color: #978ee1;
}

iframe {
    min-width: 700px;
    min-height: 700px; /* Adjust the height as needed */
    background-color: #f4f4f4;
    align-items: center;
}

p {
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #4538a1;
    color: white;
}

#resume {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resume h2,
#resume h3,
#resume p,
#resume ul {
    margin-bottom: 1em;
}

#resume h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.25em;
}

#resume ul {
    list-style: none;
    padding: 0;
}

#resume ul li {
    margin-bottom: 2em;
}